@import "tailwindcss";
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_slnt,wght.ttf");
}
@theme{
  --color-green-0: hsl(75, 94%, 57%);
  --color-grey-700: hsl(0, 0%, 20%);
  --color-grey-800: hsl(0, 0%, 12%);
  --color-grey-900: hsl(0, 0%, 8%);
}

@layer{
  html{
    font-family: "Inter", sans-serif;
    background-color: var(--color-grey-900);
    font-size: 14px;
  }
}